<div class="container">
  <h1>Restaurants</h1>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Address</th>
        <th>Phone number</th>
        <th>Category</th>
      </tr>
    </thead>
    <tbody>
      <% @restaurants.each do |restaurant| %>
        <tr>
          <td><%= restaurant.name %></td>
          <td><%= restaurant.address %></td>
          <td><%= restaurant.phone_number %></td>
          <td><%= restaurant.name %></td>
          <td><%= link_to '<i class="far fa-eye"></i>'.html_safe, restaurant %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
  <%= link_to '+ New Restaurant', new_restaurant_path %>
</div>
